table{
    background-color: rgb(23, 28, 78);
    border: solid;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;

}
th{
    border: solid;
    font-size: 20px;
    background-color: black;
    color: blanchedalmond;

}
td{
    border: solid;
}
tr{
    border: solid;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}